Repository sanghyuk2/Aim_To_Platinum, pull requests merged in 2023-08, with the labels that each got.

#56 [이다인] Week8_Review
  이다인/README.md
  이다인/동적 계획법2(Dynamic Programming)/BOJ_5557_1학년.py
  이다인/분할 정복(Divide and Conquer)/BOJ_17829_222-풀링.py
  이다인/최단 경로(Dijkstra)/BOJ_1238_파티.py
  이다인/탐욕법(Greedy)/BOJ_20115_에너지_드링크.py
Labels: review

#57 [정은기] Week8_Review
  정은기/README.md
  정은기/최단 경로(Dijkstra)/BOJ_1238_파티.java
  정은기/최단 경로(Dijkstra)/BOJ_14938_서강_그라운드.java
  정은기/최단 경로(Dijkstra)/BOJ_1753_최단경로.java
  정은기/최단 경로(Dijkstra)/BOJ_18352_특정_거리의_도시_찾기.java
  정은기/최단 경로(Dijkstra)/BOJ_1916_최소비용_구하기.java
  정은기/탐욕법(Greedy)/BOJ_11000_강의실_배정.java
Labels: review

#60 [이상혁] Week9_Binary_Search
  이상혁/동적 계획법(Dynamic Programming)/BOJ_11053_가장 긴 증가하는 부분 수열.java
  이상혁/동적 계획법(Dynamic Programming)/BOJ_11055_가장 긴 증가하는 부분 수열.java
  이상혁/동적 계획법(Dynamic Programming)/BOJ_2565_전깃줄.java
  이상혁/동적 계획법(Dynamic Programming)/BOJ_9095_1, 2, 3 더하기.java
  이상혁/이분 탐색(Binary Search)/BOJ_10815_숫자 카드.java
  이상혁/이분 탐색(Binary Search)/BOJ_1789_수들의 합.java
  이상혁/이분 탐색(Binary Search)/BOJ_2417_정수 제곱근.java
  이상혁/이분 탐색(Binary Search)/BOJ_2565_전깃줄.java
  이상혁/이분 탐색(Binary Search)/BOJ_2805_나무 자르기.java
Labels: binary search

#62 [이다인] Week9_Binary_Search
  이다인/README.md
  이다인/이분 탐색(Binary Search)/BOJ_13397_구간_나누기2.py
  이다인/이분 탐색(Binary Search)/BOJ_19637_IF문_좀_대신_써줘.py
  이다인/이분 탐색(Binary Search)/BOJ_2805_나무_자르기.py
  이다인/이분 탐색(Binary Search)/BOJ_3079_입국심사.py
Labels: binary search

#61 [정은기] Week9_Binary_Search
  정은기/README.md
  정은기/이분 탐색(Binary Search)/BOJ_13397_구간_나누기.java
  정은기/이분 탐색(Binary Search)/BOJ_1477_휴게소_세우기.java
  정은기/이분 탐색(Binary Search)/BOJ_1654_랜선_자르기.java
  정은기/이분 탐색(Binary Search)/BOJ_2805_나무_자르기.java
Labels: binary search

#65 [이상혁] Week10_DFS&BFS
  이상혁/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_1012_유기농 배추.java
  이상혁/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_11724_연결 요소의 개수.java
  이상혁/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_1260_DFS와 BFS.java
  이상혁/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_2178_미로 탐색.java
  이상혁/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_2606_바이러스.java
  이상혁/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_2667_단지번호붙이기.java
Labels: dfs&bfs

#66 [이다인] Week10_DFS&BFS
  이다인/README.md
  이다인/백준/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_11559_Puyo_Puyo.java
  이다인/백준/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_11559_Puyo_Puyo.py
  이다인/백준/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_1987_알파벳.py
  이다인/백준/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_2178_미로_탐색.py
  이다인/백준/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_7569_토마토.py
Labels: dfs&bfs

#67 [정은기] Week10_DFS&BFS
  정은기/README.md
  정은기/백준/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_1012_유기농_배추.java
  정은기/백준/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_11559_Puyo_Puyo.java
  정은기/백준/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_11724_연결_요소의_개수.java
  정은기/백준/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_1260_DFS와_BFS.java
  정은기/백준/깊이 & 너비 우선 탐색 (DFS & BFS)/BOJ_2178_미로_탐색.java
Labels: dfs&bfs
